//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  position: relative;
  // padding: $thumbnail-padding;
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  // border: 1px solid $thumbnail-border;
  // border-radius: $thumbnail-border-radius;
  @include transition(border .2s ease-in-out);

  > img,
  a > img {
    @include img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
    opacity: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    transition: opacity .3s ease-in-out;
    // cursor: pointer;
    background: white;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    align-content: center;

    h3 {
      color: #408fdb;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      width: 100%;
    }
    a {
      color: $brand-darkgrey;
    }
  }
}

// Add a hover state for linked versions only
.thumbnail:hover,
.thumbnail:focus,
.thumbnail.active {
  border-color: $link-color;

  .caption {
    opacity: 1;
  }
}
